.find-icons {
  display: flex;
  justify-content: space-between;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon i {
  font-size: 30px;
}

.find-icons__icon span {
  margin-top: 10px;
}

.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 12px;
  color: var(--faded-letters);
}
.recommended-friends span {
  margin: 110px 0;
  display: block;
  text-align: center;
  font-size: 18px;
  color: var(--faded-letters);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
}
.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}
.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__members-count {
  opacity: 0.5;
  font-size: 15px;
}

.open-post__members .divider {
  width: 1px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.open-post__members-status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.open-post__photo .open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 8px;
  right: 3px;
  font-size: 14px;
}

.open-post__heart-count span {
  margin-left: 5px;
}
